/********************************************************** Start Global Style **********************************************************/
body {
  background-color: #0d0d0d;
  color: #f9f6f6;
}
.cursor-pointer {
  cursor: pointer;
}
main {
  width: 85%;
  margin-left: auto;
}
/**********************************************************  End Global Style **********************************************************/
/********************************************************** Start Navbar Section Style **********************************************************/
.my-navbar {
  background-color: #fff;
  inset: 0;
  position: fixed;
  max-width: 65%;
  color: #000;
  z-index: 9999;
  transition: all 0.5s;
}

.my-navbar .main-nav .logo img {
  width: 3.125rem;
}

.my-navbar .linkList {
  background-color: #0d0d0d;
  color: #f9f6f6;
}

.my-d-none-navbar {
  transform: translateX(-75%);
}

.my-navbar ul li {
  position: relative;
  top: 300px;
  opacity: 0;
  transition: all 0.5s ease;
}

.my-navbar.show-menu ul li {
  top: 0;
  opacity: 1;
}

.my-navbar.show-menu ul li:nth-child(1) {
  transition-delay: 0.1s;
}
.my-navbar.show-menu ul li:nth-child(2) {
  transition-delay: 0.2s;
}
.my-navbar.show-menu ul li:nth-child(3) {
  transition-delay: 0.3s;
}
.my-navbar.show-menu ul li:nth-child(4) {
  transition-delay: 0.4s;
}
.my-navbar.show-menu ul li:nth-child(5) {
  transition-delay: 0.5s;
}
.my-navbar.show-menu ul li:nth-child(6) {
  transition-delay: 0.6s;
}

/**********************************************************  End Navbar Section Style  **********************************************************/

/********************************************************** Start Search Section Style  **********************************************************/
.search-for-mael input::placeholder {
  color: #6c757d;
}
/**********************************************************  End Search Section Style   **********************************************************/

/********************************************************** Start Layer over image on hover Section Categort and all meals Style  **********************************************************/
.meal .meal-layer,
.col .item .meal-title {
  position: absolute;
  inset: 0;
  background-color: rgb(249, 246, 246, 0.79);
  color: #000;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  transform: translateY(110%);
  transition: transform 0.5s;
}
.meal:hover .meal-layer,
.col .item:hover .meal-title {
  transform: translateY(0);
}
.meal,
.col .item {
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

/**********************************************************  End Layer over image on hover Section Categort and all meals Style   **********************************************************/

/********************************************************** Start loaders spinners  **********************************************************/
.loading {
  position: fixed;
  z-index: 9999;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  font-size: 10px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  animation: mulShdSpin 1.1s infinite ease;
  transform: translateZ(0);
}
@keyframes mulShdSpin {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #ffffff,
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.5),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7),
      1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em #ffffff,
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em #ffffff,
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.5),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em #ffffff,
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #ffffff,
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.5),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #ffffff,
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #ffffff;
  }
}
/**********************************************************  End loaders spinners   **********************************************************/
